@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,100&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Purple: rgb(128, 0, 128);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: var(--Light-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-img{
    background: url(../assets/images/background-pattern-mobile.svg) no-repeat center;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    width: 75%;
    max-width: 30rem;
    background-color: var(--White);
    border-radius: .5rem;
    padding: 1.5rem;
    position: absolute;
    top: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.171);
}

.main-heading{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.accordion-div h2{
    font-size: 1rem;
    color: var(--Dark-purple);
}

.accordion-div{
    border-bottom: rgba(128, 128, 128, 0.233) 1px solid;
}

button, .accordion-div{
    cursor: pointer;
}

.accordion-div:last-child{
    border: unset;
}

.accordion-div .answer{
    display: none;
}

.accordion-div.active .answer{
    display: block;
}

img.icon2{
    display: none;
}

.accordion-div.active img.icon{
    display: none;
}

.accordion-div.active img.icon2{
    display: block;
}

.question-and-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.question-and-icon:hover h2{
    color: var(--Purple);
}

.accordion-btn{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer{
    margin-block: 1rem;
    color: var(--Grayish-purple);
    
}

footer{
    position: fixed;
    bottom: 0.5rem;
    padding-top: 2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (width >= 400px){
    body{
        font-size: 16px;
    }
    .background-img{
        background: url(../assets/images/background-pattern-desktop.svg) no-repeat center;
    }
   
}